
#header {
    color: violet;
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



#list {
    flex-direction: column;
    display: flex;
}

#list > li{
    list-style-type: none;
    margin: 20px auto;
    color: rgb(221, 28, 28);
}

